emix/backend/bootstrap/compiled.php
emix/backend/vendor
emix/backend/composer.phar
emix/backend/composer.lock
emix/backend/.env.local.php
emix/backend/.env.php
emix/backend/.DS_Store
emix/backend/Thumbs.db
emix/backend/.idea/*
.DS_Store
emix/DS_Store

